.homeList {
  gap: 45px;
  display: flex;
  list-style-type: none;
}

.homeList li.active {
  color: black;
  font-weight: 600;
}

.homeList li {
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.homeList li:hover {
  color: black;
  font-weight: 600;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menuContent {
  display: flex;
  gap: 20px;
  position: static;
}

.menuIcon {
  display: none;
}

.homeLogo {
  width: 185px;
  height: 41px;
}

.homeIcon {
  width: 28px;
  height: 28px;
}

.headerIcon {
  display: flex;
  gap: 30px;
  align-items: center;
}

.desktopNav {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .hamburgerBtn {
    width: 30px;
    height: 35px;
}

  .closeBtn {
    width: 15px;
    height: 15px;
  }

  .menuContent {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: white;
    flex-direction: column;
  }

  .menuContent.open {
    height: 100vh;
    width: 100%;
    z-index: 999;
    top: 37px;
    display: flex;
    position: fixed;
  }

  .menuContent ul {
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
  }

  .menuContent li {
    padding: 10px 0px;
    cursor: pointer;
  }

  .homeLogo {
    width: 105px;
    height: 30px;
}

  .homeIcon {
    width: 20px;
    height: 20px;
  }

  .headerIcon {
    align-items: center;
  }

  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
  }

  .logoImg {
    margin-left: -115px;
  }
}

  @media screen and (max-width: 500px) {
    .logoImg {
      margin-left: -30px;
    }

    .headerWrapper {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 10px;
    }

    .headerIcon {
      gap: 10px;
    }

    .hamburgerBtn {
      width: 25px;
      height: 30px;
  }

  .homeIcon {
    width: 17px;
    height: 17px;
}
}
